definitions:
  dto.ErrorResponse:
    properties:
      code:
        description: |-
          Error code
          example: VALIDATION_ERROR
        type: string
      message:
        description: |-
          Error message
          example: invalid url format
        type: string
    type: object
  dto.LinkShortenRequestDto:
    properties:
      exp:
        description: |-
          Expiration time in seconds for the shortened link
          Must be greater than or equal to 1
          description: Time-to-live of the shortened URL (TTL)
          minimum: 1
          example: 3600
        type: integer
      url:
        description: |-
          Original URL that will be shortened
          Must be a valid URL format (http or https)

          required: true
          format: url
          example: https://example.com
        type: string
    required:
    - url
    type: object
  dto.LinkShortenResponseDto:
    properties:
      code:
        description: |-
          Short code of the generated URL
          example: abc123
        type: string
      message:
        description: |-
          Success message
          example: Shorten URL generated successfully!
        type: string
    type: object
  dto.LoginRequestDto:
    properties:
      password:
        description: |-
          Password
          required: true
          example: SecurePass123!
        minLength: 8
        type: string
      username:
        description: |-
          Username
          required: true
          example: johndoe
        type: string
    type: object
  dto.LoginSuccessResponse:
    properties:
      data:
        description: |-
          JWT token
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        type: string
      message:
        description: |-
          Success message
          example: Logged in successfully!
        type: string
    type: object
  dto.RegisterRequestDto:
    properties:
      display_name:
        description: |-
          User's display name
          required: true
          example: John Doe
        type: string
      email:
        description: |-
          User's email address
          required: true
          format: email
          example: john@example.com
        type: string
      password:
        description: |-
          User's password (minimum 8 characters, must contain uppercase, lowercase, number, and special character)
          required: true
          minLength: 8
          example: SecurePass123!
        minLength: 8
        type: string
      username:
        description: |-
          User's unique username
          required: true
          example: johndoe
        type: string
    required:
    - display_name
    - email
    - password
    - username
    type: object
  dto.RegisterResponseDto:
    properties:
      created_at:
        description: |-
          Account creation timestamp
          example: 2024-01-01T00:00:00Z
        type: string
      display_name:
        description: |-
          User's display name
          example: John Doe
        type: string
      email:
        description: |-
          User's email address
          example: john@example.com
        type: string
      id:
        description: |-
          User ID
          example: 123
        type: string
      updated_at:
        description: |-
          Last update timestamp
          example: 2024-01-01T00:00:00Z
        type: string
      username:
        description: |-
          User's username
          example: johndoe
        type: string
    type: object
  dto.RegisterSuccessResponse:
    properties:
      data:
        allOf:
        - $ref: '#/definitions/dto.RegisterResponseDto'
        description: User registration data
      message:
        description: |-
          Success message
          example: Register an user successfully!
        type: string
    type: object
  dto.UpdateUserProfileRequestDto:
    properties:
      display_name:
        description: |-
          User's display name
          example: John Doe
        type: string
      email:
        description: |-
          User's email address
          example: john@example.com
        type: string
    required:
    - email
    type: object
  dto.UserProfileResponseDto:
    properties:
      created_at:
        description: |-
          Account creation timestamp
          example: 2024-01-01T00:00:00Z
        type: string
      display_name:
        description: |-
          User's display name
          example: John Doe
        type: string
      email:
        description: |-
          User's email address
          example: john@example.com
        type: string
      id:
        description: |-
          User ID
          example: 123
        type: string
      updated_at:
        description: |-
          Last update timestamp
          example: 2024-01-01T00:00:00Z
        type: string
      username:
        description: |-
          User's username
          example: johndoe
        type: string
    type: object
  response.Response:
    properties:
      details:
        description: |-
          Additional response details (optional)
          example: ["email is invalid email", "password is invalid min"]
      message:
        description: |-
          Response message
          example: Invalid request
        type: string
    type: object
info:
  contact: {}
  description: Bookmark Management API is a RESTful service
  title: Bookmark Management API
  version: 1.0.2
paths:
  /health-check:
    get:
      consumes:
      - application/json
      description: check health
      responses: {}
      summary: health check
      tags:
      - utils
  /v1/links/redirect/{code}:
    get:
      consumes:
      - application/json
      description: Redirects user to the original URL based on the short code
      parameters:
      - description: Short code
        in: path
        name: code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "302":
          description: Redirect to original URL
        "404":
          description: URL not found
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Redirect to original URL
      tags:
      - Links
  /v1/links/shorten:
    post:
      consumes:
      - application/json
      description: Generate a short URL with expiration time
      parameters:
      - description: Shorten link request payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.LinkShortenRequestDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LinkShortenResponseDto'
        "400":
          description: Invalid request body or validation error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Create a shortened link
      tags:
      - Links
  /v1/self/info:
    get:
      consumes:
      - application/json
      description: Get user profile information
      produces:
      - application/json
      responses:
        "200":
          description: User profile
          schema:
            $ref: '#/definitions/dto.UserProfileResponseDto'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerAuth: []
      summary: Get user profile
      tags:
      - Users
    put:
      consumes:
      - application/json
      description: Update user profile information (display name and/or email)
      parameters:
      - description: User profile update request payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateUserProfileRequestDto'
      produces:
      - application/json
      responses:
        "200":
          description: Profile updated successfully
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Invalid request body or validation error
          schema:
            $ref: '#/definitions/response.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.Response'
      security:
      - BearerAuth: []
      summary: Update user profile
      tags:
      - Users
  /v1/users/login:
    post:
      consumes:
      - application/json
      description: Login a user with username and password
      parameters:
      - description: User login request payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.LoginRequestDto'
      produces:
      - application/json
      responses:
        "200":
          description: Successfully logged in user
          schema:
            $ref: '#/definitions/dto.LoginSuccessResponse'
        "400":
          description: Invalid request body or validation error
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.Response'
      summary: User Login
      tags:
      - Users
  /v1/users/register:
    post:
      consumes:
      - application/json
      description: Register a new user with display name, email, username, and password
      parameters:
      - description: User registration request payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequestDto'
      produces:
      - application/json
      responses:
        "200":
          description: Successfully registered user
          schema:
            $ref: '#/definitions/dto.RegisterSuccessResponse'
        "400":
          description: Invalid request body or validation error
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.Response'
      summary: User Registration
      tags:
      - Users
swagger: "2.0"
