name: cd-pipeline
on:
  workflow_run:
    workflows: ["ci-pipeline"]
    types: ["completed"]

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.head_branch == 'main'

    runs-on: [ self-hosted ]

    steps:
      - uses: actions/checkout@v4

      - name: Deploy bookmark service
        working-directory: /root/webapp
        run: |
          docker compose pull bookmark_service
          docker compose up -d bookmark_service
          docker system prune -f