name: cd-pipeline
on:
  workflow_run:
    workflows: ["ci-pipeline"]
    types: ["completed"]

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.head_branch == 'main'

    runs-on: [ self-hosted ]

    steps:
      - uses: actions/checkout@v4

      - name: Debug repo structure
        run: |
          echo "WORKSPACE=$GITHUB_WORKSPACE"
          pwd
          ls -la
          find . -maxdepth 2 -type d -print
          find . -maxdepth 4 -type f \( -name "docker-compose*.yml" -o -name "docker-compose*.yaml" -o -name "compose*.yml" -o -name "compose*.yaml" \) -print  

      - name: Deploy bookmark service
        run: |
          docker compose pull bookmark_service
          docker compose up -d bookmark_service
          docker system prune -f